In [ ]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# import dataset

dataset = pd.read_csv('bank.csv')

In [ ]:
# visualise the number of rows & columns

dataset.shape

(4521, 1)

In [ ]:
dataset.columns

Index(['age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"'], dtype='object')

In [ ]:
dataset.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  30;"unemployed";"married";"primary";"no";1787;...
1  33;"services";"married";"secondary";"no";4789;...
2  35;"management";"single";"tertiary";"no";1350;...
3  30;"management";"married";"tertiary";"no";1476...
4  59;"blue-collar";"married";"secondary";"no";0;...

In [ ]:
# checking the columns datatypes

dataset.dtypes

age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"    object
dtype: object

In [ ]:
# lets split the data & removing double(") quotation from rows

new_data = dataset['age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"'].str.replace('"', '').str.split(';', expand = True)

In [ ]:
new_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [ ]:
# creating new column headers

new_column_headers = dataset.columns[0].replace('"', '').split(';')

new_column_headers = [word.capitalize() for word in new_column_headers]

In [ ]:
new_column_headers

['Age',
 'Job',
 'Marital',
 'Education',
 'Default',
 'Balance',
 'Housing',
 'Loan',
 'Contact',
 'Day',
 'Month',
 'Duration',
 'Campaign',
 'Pdays',
 'Previous',
 'Poutcome',
 'Y']

In [ ]:
new_data.columns = new_column_headers

In [ ]:
new_data

,Age,Job,Marital,Education,Default,Balance,Housing,Loan,Contact,Day,Month,Duration,Campaign,Pdays,Previous,Poutcome,Y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [ ]:
new_data.info()  # no missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        4521 non-null   object
 1   Job        4521 non-null   object
 2   Marital    4521 non-null   object
 3   Education  4521 non-null   object
 4   Default    4521 non-null   object
 5   Balance    4521 non-null   object
 6   Housing    4521 non-null   object
 7   Loan       4521 non-null   object
 8   Contact    4521 non-null   object
 9   Day        4521 non-null   object
 10  Month      4521 non-null   object
 11  Duration   4521 non-null   object
 12  Campaign   4521 non-null   object
 13  Pdays      4521 non-null   object
 14  Previous   4521 non-null   object
 15  Poutcome   4521 non-null   object
 16  Y          4521 non-null   object
dtypes: object(17)
memory usage: 600.6+ KB

In [ ]:
# is it clean?

new_data.dtypes

Age          object
Job          object
Marital      object
Education    object
Default      object
Balance      object
Housing      object
Loan         object
Contact      object
Day          object
Month        object
Duration     object
Campaign     object
Pdays        object
Previous     object
Poutcome     object
Y            object
dtype: object

The variables are not resembling what they are meant to.

In [ ]:
# create a list of feature that are integer

integer_columns = ['Age', 'Balance', 'Duration', 'Campaign', 'Pdays', 'Previous']

# converting the columns to interger
new_data[integer_columns] = new_data[integer_columns].apply(pd.to_numeric, errors = 'coerce').astype('Int64')

In [ ]:
new_data.dtypes

Age           Int64
Job          object
Marital      object
Education    object
Default      object
Balance       Int64
Housing      object
Loan         object
Contact      object
Day          object
Month        object
Duration      Int64
Campaign      Int64
Pdays         Int64
Previous      Int64
Poutcome     object
Y            object
dtype: object

In [ ]:
# identifying the columns with object datatype

object_columns = new_data.select_dtypes(include = 'object').columns

# capitalize the first letter of the words

new_data[object_columns] = new_data[object_columns].apply(lambda x: x.str.capitalize())

In [ ]:
new_data

,Age,Job,Marital,Education,Default,Balance,Housing,Loan,Contact,Day,Month,Duration,Campaign,Pdays,Previous,Poutcome,Y
0,30,Unemployed,Married,Primary,No,1787,No,No,Cellular,19,Oct,79,1,-1,0,Unknown,No
1,33,Services,Married,Secondary,No,4789,Yes,Yes,Cellular,11,May,220,1,339,4,Failure,No
2,35,Management,Single,Tertiary,No,1350,Yes,No,Cellular,16,Apr,185,1,330,1,Failure,No
3,30,Management,Married,Tertiary,No,1476,Yes,Yes,Unknown,3,Jun,199,4,-1,0,Unknown,No
4,59,Blue-collar,Married,Secondary,No,0,Yes,No,Unknown,5,May,226,1,-1,0,Unknown,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,Services,Married,Secondary,No,-333,Yes,No,Cellular,30,Jul,329,5,-1,0,Unknown,No
4517,57,Self-employed,Married,Tertiary,Yes,-3313,Yes,Yes,Unknown,9,May,153,1,-1,0,Unknown,No
4518,57,Technician,Married,Secondary,No,295,No,No,Cellular,19,Aug,151,11,-1,0,Unknown,No
4519,28,Blue-collar,Married,Secondary,No,1137,No,No,Cellular,6,Feb,129,4,211,3,Other,No
4520,44,Entrepreneur,Single,Tertiary,No,1136,Yes,Yes,Cellular,3,Apr,345,2,249,7,Other,No

In [ ]:
new_data.dtypes

Age           Int64
Job          object
Marital      object
Education    object
Default      object
Balance       Int64
Housing      object
Loan         object
Contact      object
Day          object
Month        object
Duration      Int64
Campaign      Int64
Pdays         Int64
Previous      Int64
Poutcome     object
Y            object
dtype: object

Check for right formating

In [ ]:
new_data['Job'].value_counts()

Job
Management       969
Blue-collar      946
Technician       768
Admin.           478
Services         417
Retired          230
Self-employed    183
Entrepreneur     168
Unemployed       128
Housemaid        112
Student           84
Unknown           38
Name: count, dtype: int64

In [ ]:
# identify object datatype

object_columns = object_columns.drop('Day')

In [ ]:
object_columns

Index(['Job', 'Marital', 'Education', 'Default', 'Housing', 'Loan', 'Contact',
       'Month', 'Poutcome', 'Y'],
      dtype='object')

In [ ]:
new_data['Job'].unique()

array(['Unemployed', 'Services', 'Management', 'Blue-collar',
       'Self-employed', 'Technician', 'Entrepreneur', 'Admin.', 'Student',
       'Housemaid', 'Retired', 'Unknown'], dtype=object)

In [ ]:
# create a dict type for unique data values

category_table = {}

for i in object_columns:
  # create a dict key
  category_table[i] = new_data[i].unique()   # get unique values for each columns

In [ ]:
category_table

{'Job': array(['Unemployed', 'Services', 'Management', 'Blue-collar',
        'Self-employed', 'Technician', 'Entrepreneur', 'Admin.', 'Student',
        'Housemaid', 'Retired', 'Unknown'], dtype=object),
 'Marital': array(['Married', 'Single', 'Divorced'], dtype=object),
 'Education': array(['Primary', 'Secondary', 'Tertiary', 'Unknown'], dtype=object),
 'Default': array(['No', 'Yes'], dtype=object),
 'Housing': array(['No', 'Yes'], dtype=object),
 'Loan': array(['No', 'Yes'], dtype=object),
 'Contact': array(['Cellular', 'Unknown', 'Telephone'], dtype=object),
 'Month': array(['Oct', 'May', 'Apr', 'Jun', 'Feb', 'Aug', 'Jan', 'Jul', 'Nov',
        'Sep', 'Mar', 'Dec'], dtype=object),
 'Poutcome': array(['Unknown', 'Failure', 'Other', 'Success'], dtype=object),
 'Y': array(['No', 'Yes'], dtype=object)}

In [ ]:
new_data.head()

,Age,Job,Marital,Education,Default,Balance,Housing,Loan,Contact,Day,Month,Duration,Campaign,Pdays,Previous,Poutcome,Y
0,30,Unemployed,Married,Primary,No,1787,No,No,Cellular,19,Oct,79,1,-1,0,Unknown,No
1,33,Services,Married,Secondary,No,4789,Yes,Yes,Cellular,11,May,220,1,339,4,Failure,No
2,35,Management,Single,Tertiary,No,1350,Yes,No,Cellular,16,Apr,185,1,330,1,Failure,No
3,30,Management,Married,Tertiary,No,1476,Yes,Yes,Unknown,3,Jun,199,4,-1,0,Unknown,No
4,59,Blue-collar,Married,Secondary,No,0,Yes,No,Unknown,5,May,226,1,-1,0,Unknown,No

Q. How many success conversion are there?

In [ ]:
new_data['Y'].value_counts()

Y
No     4000
Yes     521
Name: count, dtype: int64

Default feature

In [ ]:
new_data['Default'].value_counts()

Default
No     4445
Yes      76
Name: count, dtype: int64

In [ ]:
contingency_table_default = pd.crosstab(new_data['Default'], new_data['Y'])
print(contingency_table_default)

Y          No  Yes
Default
No       3933  512
Yes        67    9

loan feature

In [ ]:
new_data['Loan'].value_counts()

Loan
No     3830
Yes     691
Name: count, dtype: int64

In [ ]:
contingency_table_loan = pd.crosstab(new_data['Loan'], new_data['Y'])
print(contingency_table_loan)

Y       No  Yes
Loan
No    3352  478
Yes    648   43

Q. what is the success rates?

In [ ]:
new_data.to_csv('Cleaned-Bank.csv', index = False)

1. We will refer to each rows as contacts &
2.